@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(34, 1, 90);
}

@media (max-width: 622px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #pages {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

@media (max-width: 596px) {

    #tittle h1 {
        font-size: 40px;
    }

    footer {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 1118px) {
    #card {
        margin: 4px;
    }
}

@media (max-width: 887px) {
    #card h2 {
        font-size: 12px;
    }

    #card h1 {
        font-size: 16px;
    }
}

@media (max-width: 818px) {
    #cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #card {
        width: 100%;
        margin-top: 40px;
    }
}

@media (max-width: 932px) {
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #form {
        width: 70%;
        margin-bottom: 20px;
    }

    #image {
        width: 0;
    }
}
